/*!
 * V4Fire Malevich
 * https://github.com/V4Fire/Malevich
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Malevich/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {
	roundingsBgColor: #565656
	contentColor: #2C2C2C
	headerColor: #2C2C2C
	labelColor: #737373
	additionalColor: #2C2C2C
	additionalBorderColor: #B4B4B4
	highlightColor: #FF0
	rounding: 4px
}

b-showcase extends i-block
	&__content
		display table
		width 100%
		padding 0 16px
		color $p.contentColor

	&__header
		display table-cell
		padding 56px 0
		font-size 36px
		color $p.headerColor

	&__row
		display table-row

	&__label
		margin 8px 0
		font-size 12px
		text-transform uppercase
		color $p.labelColor

	&__container
		display table-cell
		padding 8px
		width 50%

		&_old-version_true
			opacity 0.7
			transition opacity 0.2s ease-in

			&:hover
				opacity 1

	&__text-additional
		padding 16px
		border-radius $p.rounding
		border 1px solid $p.additionalBorderColor
		color $p.additionalColor

	&__text
		margin 16px

	&__props p
		margin 8px

	&__colors-over-wrapper
		flex-row flex-start space-between
		flex-wrap wrap
		width 600px

	&__color-wrap
		flex-row flex-start center
		flex 1 0 260px

	&__color-value
		margin-top 8px

	&__color
		size 60px
		margin 16px
		border-radius $p.rounding

	&__color-name
		font-weight 600

	&__rounding
		margin 16px
		size 60px
		background-color $p.roundingsBgColor

	&__rounding-wrap
		flex-row flex-start center

	&__prop-value_highlighted_true
		background-color $p.highlightColor
