/*!
 * V4Fire Malevich
 * https://github.com/V4Fire/Malevich
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Malevich/blob/master/LICENSE
 */

@import "@super/global/g-def/funcs.styl"

/**
 * Generates styles for common Design System fields
 *
 * @param {string} $field
 * @param {boolean=} [$isVars]
 */
ds-styles($field, $isVars = false)
	$values = getDSOptions($field, $isVars)

	if $field == "rounding"
		for $key, $val in $values
			&_size_{$key}
				border-radius $val

	if $field == "colors"
		for $key, $val in $values
			for $option, $i in $val
				&_{$key}_{$i}
					color type($option) == "string" ? convert($option) : $option

	if $field == "text"
		for $key, $val in $values
			&_style_{$key}
				interpolate-props($val)
