/*!
 * V4Fire Malevich
 * https://github.com/V4Fire/Malevich
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Malevich/blob/master/LICENSE
 */

@import "@super/global/g-def/g-def.styl"

.color
	ds-styles-vars(colors)

.text
	ds-styles-vars(text)

.rounding
	ds-styles-vars(rounding)
