/*!
 * V4Fire Malevich
 * https://github.com/V4Fire/Malevich
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Malevich/blob/master/LICENSE
 */

@import "@super/global/g-def/g-def.styl"

.color
	ds-styles(colors)

	&_diff_true ^[0]
		ds-styles(colors, true)

.text
	ds-styles(text)

	&_diff_true ^[0]
		ds-styles(text, true)

.rounding
	ds-styles(rounding)

	&_diff_true ^[0]
		ds-styles(rounding, true)
