/*!
 * V4Fire Malevich
 * https://github.com/V4Fire/Malevich
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Malevich/blob/master/LICENSE
 */

@import "super/i-dynamic-page/i-dynamic-page.styl"

$p = {
	panelHeight: 75px
	panelShadow: 0 -2px 2px alpha(#333, 0.2)
	panelBgColor: #FFF

	commitBtnBgColor: #1E7DCD
	commitBtnColor: #FFF

	rejectBtnBgColor: #EFEFEF
	rejectBtnColor: #000

	createBtnBgColor: #303134
	createBtnColor: #FFF
	inputBorder: 1px solid #D0D0D0
}

p-publish extends i-dynamic-page
	padding-bottom $p.panelHeight

	&__content
		flex-col center
		width 600px
		box-sizing border-box

		padding-top 60px
		margin 0 auto

		text-align center

	&__thumbnail
		margin 20px

	&__file-info
		width 100%
		text-align left

	&__file-name
		font-size 20px
		line-height 1.2
		font-weight 500

	&__file-version
		font-size 12px
		line-height 1.2

	&__file-last-modified
		font-size 16px
		line-height 1.2

	&__form
		display flex

	&__form-component
		display inline-block
		vertical-align middle

	&__control-panel
		position fixed
		bottom 0
		left 0

		width 100%
		height $p.panelHeight
		padding 16px
		box-sizing border-box

		background-color $p.panelBgColor
		box-shadow $p.panelShadow

	&__control-panel-btn
		vertical-align middle

		& + &
			margin-left 16px

	&__commit-button
		padding 12px 16px
		background-color $p.commitBtnBgColor
		color $p.commitBtnColor

	&__create-button
		padding 12px 16px
		background-color $p.createBtnBgColor
		color $p.createBtnColor

	&__reject-button
		padding 12px 16px
		background-color $p.rejectBtnBgColor
		color $p.rejectBtnColor

	&__input
		padding 10px 16px
		border $p.inputBorder
		border-radius 2px
