/*!
 * V4Fire Malevich
 * https://github.com/V4Fire/Malevich
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Malevich/blob/master/LICENSE
 */

@import "@super/icons/b-progress-icon/b-progress-icon.styl"

$p = {
	color: #FFF
}

b-progress-icon
