/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "@super/p-v4-components-demo/b-v4-component-demo/b-v4-component-demo.styl"

$p = {

}

b-v4-component-demo
	&__mod-value
		&_selected_true
			color getDSOptions('colors.white.0')
			background-color getDSOptions('colors.green.0')
