/*!
 * V4Fire Malevich
 * https://github.com/V4Fire/Malevich
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Malevich/blob/master/LICENSE
 */

@import "@super/p-v4-components-demo/b-v4-component-demo/b-v4-component-demo.styl"

$p = {
	borderColor: #D4D4D4
	shadowColor: #E6E6E6
	selectedModColor: #FFF
	selectedModBgColor: #0078FF

	rounding: 4px
}

b-v4-component-demo
	width 100%
	border none

	&__buttons
		display inline-block
		margin-left 16px
		border 1px solid $p.borderColor
		border-radius $p.rounding
		padding @border-radius

	&
	&__mods
		background none

	&__mods
		padding 16px
		border 1px solid $p.borderColor
		border-radius $p.rounding
		box-shadow 0px -2px 3px inset $p.shadowColor

	&__mod-value
		padding 4px 8px
		font-weight 400
		background none

		&_selected_true
			border-radius $p.rounding
			color $p.selectedModColor
			background-color $p.selectedModBgColor

	&__title
		display none
