/*!
 * V4Fire Malevich
 * https://github.com/V4Fire/Malevich
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Malevich/blob/master/LICENSE
 */

@import "super/i-dynamic-page/i-dynamic-page.styl"

$p = {

}

p-demo extends i-dynamic-page
	&__content
		padding 0 32px
		color getDSOptions("colors.grey.0")

	&__header
		padding 56px 0
		font-size 36px
		color getDSOptions("colors.grey.1")

	&__label
		font-size 12px
		text-transform uppercase
		color getDSOptions("colors.grey.2")

	&__text-container
		margin-top 16px

	&__text-additional
		padding 16px
		border-radius getDSOptions("rounding.small")
		border 1px solid getDSOptions("colors.grey.5")
		color getDSOptions("colors.grey.1")

	&__text
		margin-top 8px

	&__props p
		margin 8px

	&__props
	&__text
		$textStyles = getDSOptions(text)

		if $textStyles
			for $key, $val in $textStyles
				if $key != "heading"
					&_style_{$key}
						interpolate-props(getField($val, style))

				else
					for $opts, $index in $val
						if $opts
							&_style_{$key + $index}
								interpolate-props(getField($opts, style))

	&__colors-container
		flex-row flex-start space-between
		flex-wrap wrap
		width 600px

	&__color-wrap
		flex-row flex-start center
		flex 1 0 260px

	&__color-value
		margin-top 8px

	&__color
		size 60px
		margin 16px
		border-radius getDSOptions("rounding.small")

	&__color-name
		font-weight 600

	&__rounding
		margin 16px
		size 60px
		background-color getDSOptions("colors.grey.1")

	&__rounding-wrap
		flex-row flex-start center
