/*!
 * V4Fire Malevich
 * https://github.com/V4Fire/Malevich
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Malevich/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {
	navItemColor: #4E4E4E
	navItemHoverColor: #6B6B6B
}

b-header extends i-block
	&__header
		display flex
		align-items center
		justify-content space-between
		height 60px
		padding 0 16px

	&__logo
		height 40px

	&__nav
		display flex
		padding 16px

	&__nav-item
		color $p.navItemColor
		font-size 16px
		line-height 1.2

		text-transform uppercase
		text-decoration none
		transition 0.2s ease-in color

		&:hover
			color $p.navItemHoverColor
