/*!
 * V4Fire Malevich
 * https://github.com/V4Fire/Malevich
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Malevich/blob/master/LICENSE
 */

@import "super/i-dynamic-page/i-dynamic-page.styl"

$p = {

}

p-index extends i-dynamic-page
	&__content
		padding 60px 30px 0
		width 600px
		margin 0 auto

		text-align center

	&__title
		font-size 36px
		font-weight 300

	&__icon
		width 18px
		height @width

		img
			width 100%

	&__ds-publishing
		padding-top 30px

	&__form
		padding-top 20px

	&__form-item
		vertical-align middle
