/*!
 * V4Fire Malevich
 * https://github.com/V4Fire/Malevich
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Malevich/blob/master/LICENSE
 */

@import "super/i-dynamic-page/i-dynamic-page.styl"

$p = {
	figmaImportBgColor: #303134
	figmaImportColor: #FFF
}

p-index extends i-dynamic-page
	&__content
		padding 60px 30px 0
		width 600px
		margin 0 auto

		text-align center

	&__title
		font-size 36px
		font-weight 300

	&__icon
		size 16px

		img
			width 100%

	&__form
		padding-top 20px

	&__figma-import-button
		background-color $p.figmaImportBgColor
		color $p.figmaImportColor
